.tags {
  background-color: var(--sidebar-bg);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

pre {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: #bdbdbd;
  border-width: 1px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 1.0);
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.post-date {
  float: right;
}

.previous {
    float: left;
    color: #999;
}

.next {
    float: right;
    right: var(--page-padding);
    color: #999;
}

.read_more {
    color: #999;
}

.buttons {
    display: flex;
    gap: 5px;
}

img[src*="#icon"] {
    height: 256px;
    display: inline-block;
}
